# **Week 11- Lab**: Pandas

### **Use this dataframe to answer the questions:**

In [ ]:
data = {
    'name': ['John', 'Jane', 'Mike', 'Anna', 'Lucy', 'Emma', 'Dave', 'Sophia', 'Zhang', 'Liam'],
    'age': [25, 20, 40, 105, np.nan, 30, 45, 38, 50, 27],
    'experience': [2, 3, 5, 8, np.nan, 5, 20, 10, 25, 4],
    'education level': ['Bachelor', 'Master', 'PhD', 'High School', 'PhD', 'Master', 'PhD', 'Bachelor', 'PhD', 'Master'],
    'salary': ['50000', np.nan, 60000, 65000, 75000, 55000, 120000, 65000, 130000, 50000],
    'location': ['New York', 'San Francisco', 'Austin', 'Beijing', 'Berlin', 'Toronto', 'London', 'Sydney', 'Tokyo', 'Dublin'],
    'department': ['Marketing', 'Engineering', 'Sales', 'Research', 'Design', 'HR', 'Finance', 'IT', 'Operations', 'Logistics'],
    'languages_known': [2, 3, 1, 2, 3, 1, 2, 3, 2, 2]
}



---



---



---



---

## **Question 1:**

 Display the first three rows of the `employees_df` dataframe.



---



---

## **Question 2:**

Identify any missing values in the dataframe.



---



---

## **Question 3:**

Replace any missing values in the `experience` column with the median of that column.

## **Question 4:**

Convert the `salary` column to a numeric data type, handling any non-numeric values by replacing them with the mean salary.

## **Question 5:**

Rename the column `education level` to `Education_level`.

## **Question 6:**

Find the average age of employees in the dataframe.

## **Question 7:**

Filter the dataframe to display only those employees who have a Master's degree or higher in the `education_level` column.

## **Question 8:**

Using the `apply` function, create a new column `experience_category` that categorizes employees as "Junior" if they have less than 3 years of experience, "Mid-level" if they have 3 to 7 years, and "Senior" if they have more than 7 years.

## **Question 9:**

Identify and remove any duplicate rows from the dataframe.

## **Question 10:**

Find employees who have "PhD" in their education but a salary less than the mean salary of the dataframe.

## **Question 11:**

Sort the dataframe based on the `experience` column in descending order.

## **Question 12:**

Group the dataframe by `education_level` and find the average salary for each education level.

## **Question 13:**

Write a function that categorizes each employee's experience into 'Novice', 'Intermediate', or 'Expert' based on the number of years of experience:

- 'Novice' for less than 5 years.
- 'Intermediate' for 5 to 10 years.
- 'Expert' for more than 10 years.

Consider missing experience values as 'Unknown' and handle them appropriately in your function.

Apply this function to the experience column to create a new column named experience_level.