# **Week 13. Lab 9- Advance Pandas**

---



---



---



---

## **Question 1**

**Load the Movies dataset into a pandas DataFrame and print the head of the dataset.**



---



---



---

## **Question 2**

**Find the number of rows and columns in the dataset.**



---



---



---

## **Question 3**

**Check for missing values in each column.**



---



---



---



---

## **Question 4**

**Display basic statistics for the 'Rotten Tomatoes Ratings' and 'Budget' columns.**



---



---



---

## **Question 5**

**Create a new DataFrame containing only the films released after the year 2000.**



---



---



---

## **Question 6**

**Filter the dataset to include only films with a budget greater than $50 million**



---



---



---

## **Question 7**

**Sort the dataset by 'Rotten Tomatoes Ratings %' in descending order.**



---



---



---

## **Question 8**

**Sort the dataset by 'Year of release' in ascending order.**



---



---



---

## **Question 9**

**Group the data by 'Genre' and calculate the mean 'Rotten Tomatoes Rating %' for each genre. Also, sort the Genres from highest to lowest Rotten Tomatoes Ratings**



---



---



---

## **Question 10**

**Calculate the average budget for films released in each year**



---



---



---

## **Question 11**

**Create a bar chart to show the average 'Rotten Tomatoes Ratings %' for each genre.**



---



---



---

## **Question 12**

**Replace any missing values in the 'Budget (million $)' column with the mean budget of the dataset**



---



---



---

## **Question 13**

**Convert the 'Year of release' column to a datetime format.**



---



---



---

## **Question 14**

**Write code to perform mean imputation for missing values in the 'Audience Ratings' column**



---



---



---

## **Question 15**

**Create a DataFrame that contains only movies in the 'Action' genre that have a 'RottenTomatoes_Ratings' greater than 80. How many movies are there in this filtered DataFrame?**



---



---

## **Question 16**

**Group the movies by 'Year_release' and find the average 'Budget_m' for each year. Return a DataFrame of the years and their corresponding average budgets.**



---

---





---

## **Question 17**

**Create a new column 'Profitable' that contains boolean values. A movie is considered profitable if the 'Audience Ratings' is above 60 and the 'Budget_m' is below the median budget of all movies in the dataset. Show the head of the DataFrame with the new column.**