# **Week 12-Homework8. Pandas_DataFrames**

**The due date for Homework 8 is next Friday, April 12, at 3 PM. Please don't forget to submit it through GitHub.**



---



---



---



---

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = {
    'employee_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona', 'George', 'Hannah', 'Ian', 'Jenna'],
    'department': ['HR', 'Engineering', 'Engineering', 'Marketing', 'HR', 'Finance', 'IT', 'Marketing', 'Finance', 'IT'],
    'join_date': ['2020-01-10', '2019-04-23', '2021-07-04', '2018-02-11', '2022-05-19', '2019-11-09', '2020-06-01', '2021-03-15', '2019-08-22', '2020-11-03'],
    'salary': [70000, 85000, 80000, 75000, 68000, 72000, 78000, 74000, 77000, 79000],
    'projects_completed': [5, 9, 7, 4, 2, 6, 8, 3, 10, 5]
}

employees = pd.DataFrame(data)

# **Question 1**

How many employees are there in the Engineering department?

Filter the DataFrame to only include employees from the Engineering department and count them.



---



---



---

# **Question 2**

What is the average salary of employees in the Marketing department?

Filter the DataFrame for employees in the Marketing department and calculate the average salary.



---



---



---

# **Question 3**

Who is the employee with the highest number of projects completed? What department do they work in?

Identify the employee with the maximum projects completed and retrieve their name and department.



---



---



---

# **Question 4**

Create a new column in the DataFrame named year_joined that contains only the year from join_date.

Extract the year from join_date and create a new column.




---



---


---

# **Question 5**

Find the total number of projects completed by each department.

Group the DataFrame by department and sum up the projects_completed



---



---



---

# **Question 6**

Check for Duplicate Rows in the DataFrame

Determine if there are any duplicate rows in the employees DataFrame. Consider all columns for identifying duplicates.



---



---



---

# **Question 7**

Find Missing Values

Check for missing values in the DataFrame. Report which columns have missing values and the count of missing values in each of those columns.



---



---



---

# **Question 8**

Replace Missing Values with Zero

Replace any missing values in the DataFrame with zero. Note: If the original DataFrame doesn't have missing values, introduce a few for demonstration.



---

---





---

# **Question 9**

Group By Department and Calculate Average Salary

Use the groupby method to group employees by their department and calculate the average salary in each department.



---



---



---

# **Question 10**

Assign a Performance Category to Each Employee

Write a function that takes an employee's number of projects completed as input and returns 'High', 'Medium', or 'Low' based on the following criteria:
'High' if the number of projects completed is greater than 7.
'Medium' if the number of projects completed is between 4 and 7 (inclusive).
'Low' if the number of projects completed is less than 4.
Apply this function to the projects_completed column to create a new column named performance.



---



---



---

# **Question 11**

Calculate Adjusted Salary

Write a function that calculates an adjusted salary for each employee based on their performance category. The function should take the original salary and the performance category as inputs and increase the salary by:
10% for 'High' performance.
5% for 'Medium' performance.
No change for 'Low' performance.
Use a loop to apply this function across the DataFrame and create a new column named adjusted_salary.