# **Week 5- Homework 3. Functions**

**Question 1.** Write a function named add that takes two numbers as arguments and returns their sum.

**Question 2.** Write a function named average that takes a list of numbers and returns their average.

**Question 3.**  Convert a given number of days into a combination of weeks and days.

**Question 4.** Write a function named string_length that takes a string and returns its length without using the built-in len() function.

 **Question 5.** Write a function named max_number that takes two numbers as arguments and returns the maximum of the two.

**Question 6.**Write a function named count_down that takes a number as an argument and prints all numbers from the number down to 1.

**Question 7.** Write a function named multiply_list that takes a list of numbers as an argument and returns the product of all the numbers in the list.