# **<center>Midterm Exam &ndash; DATA 3401 (Spring 2024)</center>**

## Start Date: **2/21**
## Due Date: **2/23** (at 5:30pm)
## There will be **no Lab on Friday 2/23**


---



##**Midterm Rules**
This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.  When you have completed the exam, you should upload your completed python file in the Canvas.

you should not use **ChatGPT** and not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation.

You may use all class resources including previous labs and lectures, and anything posted on Teams.



---



---



---

## **Question 1:**

### - Given a list **numbers = [4, 2, 2, 8, 3, 2, 4, 4, 3, 1, 9,12]**


- Your task is to write a Python program that extracts and prints the unique numbers from the list in the order of their first occurrence

**Tip:**
- Consider using a for loop and a conditional statement as one approach to solve this question.
- Your python code should generate a list containing unique numbers.



---



---



---

## **Question 2:**

* Given a number x=5,

* Write a code to check if it's even or odd and print the result.



---



---



---

## **Question 3:**

#### Python Median Finder

You have three numbers: `a=5`, `b=9`, and `c=2`. Your task is to determine the median (the middle value) of these three numbers without sorting them, using nested conditional statements. Implement a Python program that follows these steps:

1. **First, compare `a` and `b`:**
   - If `a` is greater than `b`, then `a` could either be the largest or the median. Next, compare `a` and `c`:
     - If `a` is less than `c`, then `a` is the median.
     - Else, compare `b` and `c`:
       - If `b` is greater than `c`, then `b` is the median.
       - Otherwise, `c` is the median.

2. **If `a` is not greater than `b` (meaning `a` is less than or equal to `b`), then `b` could either be the largest or the median. Next, compare `a` and `c`:**
   - If `a` is greater than `c`, then `a` is the median.
   - Else, compare `b` and `c`:
     - If `b` is less than `c`, then `b` is the median.
     - Otherwise, `c` is the median.



---



---



---

### **Question 4:**

* Checking the Type of Triangle (Equilateral Triangle; Isosceles Triangle;   Scalene Triangle) based on Side Lengths:

side1 = 3

side2 = 4

side3 = 5



---



---



---

### **Question 5:**  

Write a Python function named **convert_grade** that takes a numerical grade (0-100) and returns its letter equivalent. Use the following grading scale:

- 90-100: 'A'
- 80-89: 'B'
- 70-79: 'C'
- 60-69: 'D'
- Below 60: 'F'



---



---



---

## **Question 6:**

Implement a function named **apply_discoun**t that takes the original price of an item and its category as inputs. If the category is "electronics", give a 10% discount. If it's "clothes", give a 5% discount. For all other categories, give a 2% discount.

## **Question 7:**

Given the lengths of three sides of a triangle, write a Python function called **triangle_type** that determines if the triangle is equilateral, isosceles, or scalene.



---



---



---

## **Question 8:**

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.



---



---



---

## **Question 9:**

Write a Python program to convert **temperatures** to and from **celsius**, **fahrenheit**.



---



---



---

## **Question 10:**

Write a function to count the number of even and odd numbers from a series of numbers.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]